@page "/{PageUri}"

@if(Category!=null)
{
    <PageTitle>@Category.Title</PageTitle>
}
else
{
    <PageTitle>@PageUri</PageTitle>
}

<div class="catalog-card-container">
    @if (Category == null)
    {
        <p>Что-то пошло не так</p>
    }
    else if (Catalog.Count>0)
    {
        @foreach (var item in Catalog)
        {
            <a @onclick="@(()=>Navigation.NavigateTo(item.CategoryUrl,true))" class="catalog-card">
                <div class="catalog-card-img">
                    <img src="@item.CategoryImagePath" alt="" />
                </div>
            <p>@item.CategoryTitle</p>
            </a>
@*            <IndexCard ImagePath="@item.CategoryImagePath" Caption="@item.CategoryTitle" Href="@item.CategoryUrl"/>*@
        }
    }
    else if(Category.Products!=null||Category.Products.Count>0)
    {
        @for (int i = 0; i < Category.Products.Count; i++)
        {
            <ProductCard Product="Category.Products.ToList()[i]" Directory="directories[i]"/>
        }

    }
    else
    {
        <p>В этой категории пока нет товаров</p>
    }
</div>