<div class="product-card">
    <a href="#">
        <img src="@ImagePath" alt="@Product.Name" />
    </a>
    <div class="card-body">
        <CardTitle Size="5">@Product.Name</CardTitle>
        <CardText>
            @Product.Description
            @Product.RetailPrice
        </CardText>
        <Button>В корзину</Button>
    </div>
</div>