<div class="product-card">
    <a href="#">
        <img src="@ImagePath" alt="@Product.Name" />
    </a>
    <div class="card-body">
        <CardTitle Size="5">@Product.Name</CardTitle>
        <CardText>
            @Product.Description
            @Product.RetailPrice
        </CardText>
        <NumericEdit @bind-Value="@Product.Count" Min="1" Max="10000"></NumericEdit>
        <Button Clicked="ToCart">В корзину</Button>
    </div>
</div>