<Card Margin="Margin.Is4.OnY" Class="product-card">
    <CardImage Source="@ImagePath" Alt="@Product.Name"></CardImage>
    <CardBody>
        <CardTitle Size="5">@Product.Name</CardTitle>
        <CardText>
            @Product.Description
            @Product.RetailPrice
        </CardText>
        <Button Color="Color.Primary">Добавить в корзину</Button>
    </CardBody>
</Card>