@using System.Globalization;
<div class="adminpage">
    <div class="adminpage-header admin-header">
        <div class="adminpage-title">
            <p>Товары</p>
        </div>
        <div class="admin-buttons">
            <Button Class="header-contacts-button">Удалить Категорию</Button>
            <Button Class="header-contacts-button">Добавить</Button>
        </div>
    </div>
    <div class="adminpage-items admin-items">
        <PageTitle>Товары</PageTitle>
        <DataGrid TItem="Product" Data="@Products" @bind-SelectedRow="@selectedProduct"
                  SelectionMode="DataGridSelectionMode.Single"
                  SortMode="DataGridSortMode.Single"
                  PageSize="10"
                  ShowPager="true"
                  Responsive="true"
                  Filterable="true"
                  Resizable="true"
                  Hoverable="true"
                  ResizeMode="TableResizeMode.Columns"
                  Editable="true"
                  EditMode="DataGridEditMode.Inline"
                  NewItemDefaultSetter="@OnNewItemDefaultSetter"
                  CommandMode="DataGridCommandMode.ButtonRow">
            <DataGridColumns>
                <DataGridColumn Field="@nameof(Product.Name)" Caption="Товар" />
                <DataGridColumn Field="@nameof(Product.State)" Caption="Состояние"/>
                <DataGridColumn Field="@nameof(Product.Tags)" Caption="Метка">
                    <DisplayTemplate>
                        @if (Tags.Count>0)
                        {
                            @foreach (var tag in Tags)
                            {
                                @tag.Name;
                            }
                        }else{@("Нет меток");}
                            </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn Field="@nameof(Product.Category)" Caption="Категория">
                    <DisplayTemplate>@Categories.FirstOrDefault(c=>c.Id==context.CategoryId).Title</DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn Field="@nameof(Product.Description)" Caption="Описание">
                    </DataGridColumn>
                <DataGridNumericColumn Field="@nameof(Product.RetailPrice)" Caption="Розничная Цена"></DataGridNumericColumn>
                <DataGridNumericColumn Field="@nameof(Product.PurshasePrice)" Caption="Закупочная Цена"></DataGridNumericColumn>
                <DataGridDateColumn Field="@nameof(Product.CreatedAt)" Caption="Дата создания" DisplayFormatProvider="@CultureInfo.GetCultureInfo("ru-RU")">
                </DataGridDateColumn>
                <DataGridDateColumn Field="@nameof(Product.ChangedAt)" Caption="Дата изменения" DisplayFormatProvider="@CultureInfo.GetCultureInfo("ru-RU")">
                </DataGridDateColumn>
            </DataGridColumns>
            <ButtonRowTemplate>
                <ProductCreate Categories="Categories" DataContext="CrudService" UpdateState="ChangeProducts" />
                <ProductEdit/>
                <Button Color="Color.Danger" Disabled="(selectedProduct is null)" Clicked="@(async ()=>{await context.DeleteCommand.Clicked.InvokeAsync(); await OnRowRemoved(context.DeleteCommand.Item);})">Удалить</Button>
                <Button Color="Color.Light" Clicked="context.ClearFilterCommand.Clicked">Очистить фильтр</Button>
            </ButtonRowTemplate>
        </DataGrid>
    </div>
</div>