@using Blazorise.Components
@using PackMarket.Data.Enums;
<Button Color="Color.Success" Clicked="ShowModal">Изменить</Button>
<Modal @ref="ModalRef">
    <Form>
        <ModalContent Centered>
            <ModalHeader>
                <ModalTitle>Новый Товар</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>

                <Field>
                    <FieldLabel>Название</FieldLabel>
                    <TextEdit Placeholder="Введите название..." @bind-Text="SelectedProduct.Name" />
                </Field>
                <Field>
                    <FieldLabel>Описание</FieldLabel>
                    <MemoEdit AutoSize Placeholder="Введите описание..." @bind-Text="SelectedProduct.Description" />
                </Field>
                <Field>
                    <FieldLabel>Категория</FieldLabel>
                    <SelectList TItem="Category" SelectedValue="SelectedProduct.CategoryId" SelectedValueChanged="@SelectedValueChanged" TValue="int" Data="@Categories" TextField="@((item)=>item.Title)" ValueField="@((item)=>item.Id)"
                                DefaultItemText="Выберите категорию" DefaultItemHidden DefaultItemDisabled>

                    </SelectList>
                </Field>
                <Field>
                    <FieldLabel>Тэг</FieldLabel>
                    <SelectList Multiple TItem="Tag" TValue="int" Data="@Tags" TextField="@((item)=>item.Name)" ValueField="@((item)=>item.Id)" SelectedValuesChanged="SelectedTagsChanged"
                        DefaultItemText="Выберите тэг"></SelectList>
                </Field>
                <Field>
                    <FieldLabel>Состояние</FieldLabel>
                    <SelectList TItem="State" SelectedValueChanged="@SelectedStateChanged" TValue="State" TextField="@((item)=>item.ToString())" ValueField="@((item)=>item)"
                                DefaultItemText="Изменить состояние" DefaultItemDisabled DefaultItemHidden></SelectList>
                </Field>
                <Field>
                    <FileEdit Multiple Changed="OnFiles" Filter="image/jpeg, image/png, image/gif" Placeholder="Выберите изображения для категории..." />
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Отменить</Button>
                <Button Color="Color.Primary" Disabled="isDisabled" Clicked="@SaveProduct">Сохранить</Button>
            </ModalFooter>
        </ModalContent>
    </Form>
</Modal>