@using Blazorise.Components
<Button Color="Color.Success" Clicked="ShowModal">Создать</Button>
<Modal @ref="ModalRef">
    <Form>
        <ModalContent Centered>
            <ModalHeader>
                <ModalTitle>Новый Товар</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>

                <Field>
                    <FieldLabel>Название</FieldLabel>
                    <TextEdit Placeholder="Введите название..." @bind-Text="Product.Name" />
                </Field>
                <Field>
                    <FieldLabel>Описание</FieldLabel>
                    <MemoEdit AutoSize Placeholder="Введите описание..." @bind-Text="Product.Description"/>
                </Field>
                <Field>
                    <FieldLabel>Категория</FieldLabel>
                    <SelectList TItem="Category" SelectedValue="Product.CategoryId" SelectedValueChanged="@SelectedValueChanged" TValue="int" Data="@Categories" TextField="@((item)=>item.Title)" ValueField="@((item)=>item.Id)"
                         DefaultItemText="Выберите категорию" DefaultItemHidden DefaultItemDisabled>

                    </SelectList>
                </Field>
                <Field>
                    <FileEdit Multiple Changed="OnFiles" Filter="image/jpeg, image/png, image/gif" Placeholder="Выберите изображения для категории..." />
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Отменить</Button>
                    <Button Color="Color.Primary" Disabled="isDisabled" Clicked="@SaveProduct">Сохранить</Button>
            </ModalFooter>
        </ModalContent>
    </Form>
</Modal>